body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  overflow: hidden;
  border-radius: px;
}

th {
    text-align: center;
    border-style: solid;
    vertical-align: middle;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}

td {
  line-height: 172%;
  text-align: center;
  letter-spacing: -0.03em;
  vertical-align: middle;
  border-bottom: 1px solid #707070;

}

button {
  width:60px;
  height:30px;
  font-size:14px;
  line-height:16px;
  color:#fff;
  background-color: rgb(148, 175, 196);
}

input {
  width:300px;
  height:25px;
  font-size:14px;
  line-height:16px;
}

select {
  width:60px;
  height:30px;
  font-size:14px;
  line-height:16px;
}